
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Scripts/vue.js")
<h2>Home</h2>
<div>
    <table>
        <tr v-hide><td>222</td></tr>
    </table>
</div>
