@model IEnumerable<GoBuy.Models.Category>

<ul>
    @foreach (var category in Model)
    {
        <li>
            @Html.ActionLink(category.CategoryName, "Browse", "Home", new { categoryId=  category.CategoryId},null)
        </li>
    }
</ul>


